[Unit]
Description=Kurtosis Sync Test Service
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/opt/kurtosis-sync-test
ExecStart=/bin/bash /opt/kurtosis-sync-test/oneliner.sh
Restart=always
RestartSec=30
EnvironmentFile=/etc/kurtosis-sync/env

[Install]
WantedBy=multi-user.target